<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MyShop - Kacper Bieniek</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{fragments/header :: ShopHeader}"></header>

    <div class="main-content">
        <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
            <table cellspacing="0" th:if="${not #lists.isEmpty(cart.cartItems)}">
                <tr>
                    <th style="width: 30px;">No.</th>
                    <th style="width: 50px;"></th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Suma</th>
                    <th style="width: 30px;"></th>
                </tr>
                <tr th:each="cartItem, stat : ${cart.cartItems}">
                    <td th:text="${stat.count}">1</td>
                    <td>
                        <img th:src="${cartItem.item.imgUrl}">
                    </td>
                    <td th:text="${cartItem.item.name}">Ołówek</td>
                    <td style="display: flex; padding-top: 10px" class="quantity-control">
                        <a class="mbtn" th:href="@{'/order/decrease/' + ${cartItem.item.id}}">-</a>
                        <p th:text="${cartItem.counter}">1</p>
                        <a class="mbtn" th:href="@{'/order/increase/' + ${cartItem.item.id}}">+</a>
                    </td>
                    <td><span th:text="${cartItem.price}">2.50</span> zł</td>
                    <td>
                        <a class="mbtn" th:href="@{'/order/remove/' + ${cartItem.item.id}}">X</a>
                    </td>
                </tr>
            </table>

            <div th:if="${#lists.isEmpty(cart.cartItems)}" style="text-align: center; margin: 20px;">
                <h2>Twój koszyk jest pusty.</h2>
                <a th:href="@{/}" class="add-btn" style="display: inline-block; width: auto; padding: 10px 20px;">Wróć
                    do sklepu</a>
            </div>

            <div class="summary" th:if="${not #lists.isEmpty(cart.cartItems)}">
                <p><span>Do zapłaty </span><span th:text="${cart.sum}">10</span> zł</p>
            </div>
            <a th:href="@{/summary}" class="add-btn btn-submit" th:if="${not #lists.isEmpty(cart.cartItems)}">Dalej</a>
        </div>
    </div>
</body>

</html>