<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MyShop - Kacper Bieniek</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{fragments/header :: ShopHeader}"></header>

    <div class="main-content">
        <div class="item" th:each="item : ${items}">
            <p class="item-name" th:text="${item.name}">
                Ołówek
            </p>

            <img th:src="${item.imgURL}">

            <div>
                <span>Cena: </span>
                <span th:text="${item.price}">2.50</span>
                <span>zł</span>
            </div>

            <a th:href="@{/addItemToCart/{id}(id=${item.id})}" class="add-btn">Dodaj</a>
        </div>
    </div>
</body>

</html>